<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1024917227104-c2ihm8socjmancf6jgoon0t3c5nilruh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1024917227104-c2ihm8socjmancf6jgoon0t3c5nilruh</string>
	<key>API_KEY</key>
	<string>AIzaSyBtb6C2w_qcakBFtFMWuqKRgfiPiCPFM9s</string>
	<key>GCM_SENDER_ID</key>
	<string>1024917227104</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.provechopolis</string>
	<key>PROJECT_ID</key>
	<string>provechopolis</string>
	<key>STORAGE_BUCKET</key>
	<string>provechopolis.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1024917227104:ios:78d2daba7aa02bb261e505</string>
	<key>DATABASE_URL</key>
	<string>https://provechopolis-default-rtdb.firebaseio.com</string>
</dict>
</plist>